
body{background-color: #ffefd5;}
hr{background-color: #800000;
  border-style: none;
  height:5px;
  width:50%;}
H1, H2 { color: #800000 }
UL {font-style: italic;
   font-weight: bold;}
img[src]{
   width:360px;}
a[href]:hover{
  margin-left: 5px;
}
